.add-progect {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none; 
}

.popap {
    width: 365px;
    max-height: 495px;
    border-radius: 6px;
    background-color: #f1efee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.popap-l {
    display: block;
    clear: both;
    position: relative;
    
}

.popap-close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.popap-inp {
    width: 310px;
   
}

div.popap-inp  {
    padding-top: 13px;
    height: 30px;
    color: #acacac;
  background: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%), #fff;
  background: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%), #fff;
  background: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%), #fff;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
 
}
.textar-popap {
    resize: none;
    width: 310px;
    border: 1px solid #d6d5d3;
    padding-top: 10px;
    min-height: 110px;
}

.form-popap {
    margin: 25px 20px 20px 20px;
    
}

.popap-button {
    text-align: center;
}
.butt-submit-popap {
    margin-right: 0px;
}

.err-text {
    height: 27px;
    border-radius: 4px;
    background: #e69073;
    position: absolute;
    right: 334px;
    bottom: 8px;
    padding: 0 8px;
    color: #9a4e32;
    line-height: 27px;
    font-size: 12px;
    display: none;
}


.err-text-area {
    bottom: 50px;
}

.er-left:after {
    content: '';
    position: absolute;
    right: -11px;
    top:8px;
    border-left: 6px solid #e69073;
    border-right: 6px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.er-right:after {
    content: '';
    position: absolute;
    left: -11px;
    top:8px;
    border-left: 6px solid transparent;
    border-right: 6px solid #e69073;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.er-name {
    right: 220px;
}

.er-mail {
    right: -110px;
}

.er-qwe {
    right: 414px;
    bottom: 86px;
}

.er-code {
    right: -85px;
    bottom: 26px;
}

.err-write-me {
    right: 220px;
}

.error {
    border: 1px solid #df8668 !important;
}

.error-tt {
    display: block;
}

.popap-l input[type=file]{
    display: none;
}

.img-butt {
    width: 52px;
    height: 43px;
    border-radius: 0 3px 3px 0;
    float: right;
    margin: 1px;
}